Shared DLLs Version/HIFIS Sample Client/HIFIS Sample Client/Connected Services/API.Organization/HIFIS3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://demo.hifis.ca/Domain/HIFIS.DOMAIN.BusinessServices.OrganizationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" />
  <xs:import schemaLocation="https://demo.hifis.ca/Domain/HIFIS.DOMAIN.BusinessServices.OrganizationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAllOrganizations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q1:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrganizationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetAllOrganizationsResult" nillable="true" type="q2:ArrayOfOrganizationBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrganizationsUnderOrgID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q3:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrganizationsUnderOrgIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetAllOrganizationsUnderOrgIDResult" nillable="true" type="q4:ArrayOfListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q5:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetOrganizationResult" nillable="true" type="q6:OrganizationTombstone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="excludeOrgID" nillable="true" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q7:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetOrganizationListResult" nillable="true" type="q8:ArrayOfListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrganizationAgeGroupList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q9:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrganizationAgeGroupListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetAllOrganizationAgeGroupListResult" nillable="true" type="q10:ArrayOfListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationListByClusterID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="excludeOrgID" nillable="true" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q11:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationListByClusterIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetOrganizationListByClusterIDResult" nillable="true" type="q12:ArrayOfListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrganizationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q13:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrganizationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetAllOrganizationListResult" nillable="true" type="q14:ArrayOfListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="OrgTombstone" nillable="true" type="q15:OrganizationTombstone" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q16:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="UpdateOrganizationResult" nillable="true" type="q17:WCFValidationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="OrgTombstone" nillable="true" type="q18:OrganizationTombstone" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q19:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="DeleteOrganizationResult" nillable="true" type="q20:WCFValidationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenderServedList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q21:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenderServedListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetGenderServedListResult" nillable="true" type="q22:ArrayOfListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicesOfferedList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q23:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicesOfferedListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetServicesOfferedListResult" nillable="true" type="q24:ArrayOfListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherAttributesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q25:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherAttributesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetOtherAttributesListResult" nillable="true" type="q26:ArrayOfListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q27:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetOrganizationSettingsResult" nillable="true" type="q28:OrganizationTombstone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrganizationSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="OrgTombstone" nillable="true" type="q29:OrganizationTombstone" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q30:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrganizationSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="UpdateOrganizationSettingsResult" nillable="true" type="q31:WCFValidationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShelter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShelterID" type="xs:int" />
        <xs:element minOccurs="0" name="IncludeRoomsBeds" type="xs:boolean" />
        <xs:element minOccurs="0" name="filterCurrentlyInEffect" type="xs:boolean" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q32:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShelterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetShelterResult" nillable="true" type="q33:Shelters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShelters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FilterShelterIDs" nillable="true" type="q34:ArrayOfint" />
        <xs:element minOccurs="0" name="IncludeRoomsBeds" type="xs:boolean" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q35:Authentication" />
        <xs:element minOccurs="0" name="orgID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSheltersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetSheltersResult" nillable="true" type="q36:Shelters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoomID" type="xs:int" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="length" type="xs:int" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q37:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetBedsListResult" nillable="true" type="q38:Shelters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BedID" type="xs:int" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q39:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetBedResult" nillable="true" type="q40:BedTombstone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedStatusHistoryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BedID" type="xs:int" />
        <xs:element minOccurs="0" name="shelterName" nillable="true" type="xs:string" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q41:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedStatusHistoryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetBedStatusHistoryListResult" nillable="true" type="q42:ArrayOfBedStatusHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedStatusHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BedID" type="xs:int" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q43:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedStatusHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetBedStatusHistoryResult" nillable="true" type="q44:BedStatusHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBedStatusHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="Bedsh" nillable="true" type="q45:BedStatusHistory" />
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q46:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBedStatusHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="UpdateBedStatusHistoryResult" nillable="true" type="q47:WCFValidationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="Bed" nillable="true" type="q48:BedTombstone" />
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q49:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="AddBedResult" nillable="true" type="q50:WCFValidationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="bed" nillable="true" type="q51:BedTombstone" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q52:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="UpdateBedResult" nillable="true" type="q53:WCFValidationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveBed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BedID" type="xs:int" />
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q54:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveBedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="RemoveBedResult" nillable="true" type="q55:WCFValidationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoomID" type="xs:int" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q56:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetRoomResult" nillable="true" type="q57:RoomTombstone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShelterID" type="xs:int" />
        <xs:element minOccurs="0" name="filterCurrentlyInEffect" type="xs:boolean" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="length" type="xs:int" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q58:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetRoomsListResult" nillable="true" type="q59:Shelters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="room" nillable="true" type="q60:RoomTombstone" />
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q61:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="AddRoomResult" nillable="true" type="q62:WCFValidationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="room" nillable="true" type="q63:RoomTombstone" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q64:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="UpdateRoomResult" nillable="true" type="q65:WCFValidationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoomID" type="xs:int" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q66:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="RemoveRoomResult" nillable="true" type="q67:WCFValidationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMandatoryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q68:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMandatoryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetMandatoryListResult" nillable="true" type="q69:MandatoryModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMandatory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrganizationMandatoryID" type="xs:int" />
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
        <xs:element minOccurs="0" name="RequiredState" type="xs:int" />
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q70:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMandatoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="UpdateMandatoryResult" nillable="true" type="q71:WCFValidationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyMandatoriesFromServiceProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="copyFromOrgID" type="xs:int" />
        <xs:element minOccurs="0" name="CopyToOrgID" type="xs:int" />
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q72:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyMandatoriesFromServiceProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="CopyMandatoriesFromServiceProviderResult" nillable="true" type="q73:WCFValidationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMandatories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q74:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMandatoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetMandatoriesResult" nillable="true" type="q75:ArrayOfMandatories" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReadonlyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q76:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReadonlyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetReadonlyListResult" nillable="true" type="q77:ArrayOfMandatories" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomsForOrg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgID" type="xs:int" />
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q78:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomsForOrgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetRoomsForOrgResult" nillable="true" type="q79:ArrayOfRoomTombstone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationMeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgID" type="xs:int" />
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q80:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationMetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetOrganizationMetaResult" nillable="true" type="q81:OrganizationTombstone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleSections">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleTypeID" type="xs:short" />
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q82:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleSectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetModuleSectionsResult" nillable="true" type="q83:ArrayOfSections" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubSections">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sectionTypeID" type="xs:short" />
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q84:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubSectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetSubSectionsResult" nillable="true" type="q85:ArrayOfSections" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q86:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetModuleTypesResult" nillable="true" type="q87:ArrayOfMandatoryModuleType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSectionFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sectionTypeID" type="xs:short" />
        <xs:element minOccurs="0" name="orgID" type="xs:int" />
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q88:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSectionFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="GetSectionFieldsResult" nillable="true" type="q89:ArrayOfField" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAllBedsActiveStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="token" nillable="true" type="q90:UnAuthenticatedAppToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAllBedsActiveStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="UpdateAllBedsActiveStatusResult" nillable="true" type="q91:WCFValidationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>