Shared DLLs Version/HIFIS Sample Client/HIFIS Sample Client/Connected Services/API.Authentication/HIFIS2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://demo.hifis.ca/Domain/HIFIS.DOMAIN.BusinessServices.AuthenticationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" />
  <xs:import schemaLocation="https://demo.hifis.ca/Domain/HIFIS.DOMAIN.BusinessServices.AuthenticationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Web.Security" />
  <xs:import schemaLocation="https://demo.hifis.ca/Domain/HIFIS.DOMAIN.BusinessServices.AuthenticationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://demo.hifis.ca/Domain/HIFIS.DOMAIN.BusinessServices.AuthenticationService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetApplicationName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetApplicationNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pUuserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pUserIsOnline" type="xs:boolean" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="token" nillable="true" type="q1:UnAuthenticatedAppToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Web.Security" minOccurs="0" name="GetUserByUserNameResult" nillable="true" type="q2:MembershipUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUserKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pProviderUserKey" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="pUserIsOnline" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUserKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Web.Security" minOccurs="0" name="GetUserByUserKeyResult" nillable="true" type="q3:MembershipUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pOldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pNewPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q4:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordQuestionAndAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pNewPasswordQuestion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pNewPasswordAnswer" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q5:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordQuestionAndAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePasswordQuestionAndAnswerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pPasswordQuestion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pPasswordAnswer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pIsApproved" type="xs:boolean" />
        <xs:element minOccurs="0" name="pProviderUserKey" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.Web.Security" minOccurs="0" name="CreateUserResult" nillable="true" type="q6:MembershipUser" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System.Web.Security" minOccurs="0" name="pStatus" type="q7:MembershipCreateStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pDeleteAllRelatedData" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnablePasswordReset">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnablePasswordResetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEnablePasswordResetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnablePasswordRetrieval">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnablePasswordRetrievalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEnablePasswordRetrievalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUsersByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pEmailToMatch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pPageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pPageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUsersByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System.Web.Security" minOccurs="0" name="FindUsersByEmailResult" nillable="true" type="q8:ArrayOfMembershipUser" />
        <xs:element minOccurs="0" name="pTotalRecords" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUsersByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pUsernameToMatch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pPageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pPageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUsersByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/System.Web.Security" minOccurs="0" name="FindUsersByNameResult" nillable="true" type="q9:ArrayOfMembershipUser" />
        <xs:element minOccurs="0" name="pTotalRecords" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pPageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pPageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/System.Web.Security" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q10:ArrayOfMembershipUser" />
        <xs:element minOccurs="0" name="pTotalRecords" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumberOfUsersOnline">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumberOfUsersOnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNumberOfUsersOnlineResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pAnswer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserNameByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserNameByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserNameByEmailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxInvalidPasswordAttempts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxInvalidPasswordAttemptsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMaxInvalidPasswordAttemptsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMinRequiredNonAlphanumericCharacters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="token" nillable="true" type="q11:UnAuthenticatedAppToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMinRequiredNonAlphanumericCharactersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMinRequiredNonAlphanumericCharactersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMinRequiredPasswordLength">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="token" nillable="true" type="q12:UnAuthenticatedAppToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMinRequiredPasswordLengthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMinRequiredPasswordLengthResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasswordAttemptWindow">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasswordAttemptWindowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPasswordAttemptWindowResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasswordFormat">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasswordFormatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/System.Web.Security" minOccurs="0" name="GetPasswordFormatResult" type="q13:MembershipPasswordFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasswordStrengthRegularExpression">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="token" nillable="true" type="q14:UnAuthenticatedAppToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasswordStrengthRegularExpressionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPasswordStrengthRegularExpressionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequiresQuestionAndAnswer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequiresQuestionAndAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRequiresQuestionAndAnswerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequiresUniqueEmail">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequiresUniqueEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRequiresUniqueEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pAnswer" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pProviderUserKey" type="q15:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetPasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q16:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="UnlockUserResult" nillable="true" type="q17:WCFValidationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/System.Web.Security" minOccurs="0" name="pUser" nillable="true" type="q18:MembershipUser" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q19:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userOrgID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="ValidateUserResult" nillable="true" type="q20:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="RenewTokenResult" nillable="true" type="q21:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeTwoFactorToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="token" nillable="true" type="q22:UnAuthenticatedAppToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeTwoFactorTokenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="authentication" nillable="true" type="q23:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/HIFIS.CONTRACTS.WCFContracts.DataContracts" minOccurs="0" name="LogOffResult" nillable="true" type="q24:WCFValidationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUsersToRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pUserNames" nillable="true" type="q25:ArrayOfstring" />
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pRoleNames" nillable="true" type="q26:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUsersToRolesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pRoleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pRoleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pThrowOnPopulatedRole" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUsersInRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pRoleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pUserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUsersInRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FindUsersInRoleResult" nillable="true" type="q27:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllRolesResult" nillable="true" type="q28:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pUserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRolesForUserResult" nillable="true" type="q29:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersInRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pRoleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersInRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUsersInRoleResult" nillable="true" type="q30:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserInRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pRoleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserInRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUserInRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUsersFromRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pUserNames" nillable="true" type="q31:ArrayOfstring" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pRoleNames" nillable="true" type="q32:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUsersFromRolesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RoleExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pRoleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoleExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoleExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>