Shared DLLs Version/HIFIS Sample Client/HIFIS Sample Client/Connected Services/API.Authentication/HIFIS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Web.Security" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Web.Security" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MembershipUser">
    <xs:sequence>
      <xs:element name="_Comment" nillable="true" type="xs:string" />
      <xs:element name="_CreationDate" type="xs:dateTime" />
      <xs:element name="_Email" nillable="true" type="xs:string" />
      <xs:element name="_IsApproved" type="xs:boolean" />
      <xs:element name="_IsLockedOut" type="xs:boolean" />
      <xs:element name="_LastActivityDate" type="xs:dateTime" />
      <xs:element name="_LastLockoutDate" type="xs:dateTime" />
      <xs:element name="_LastLoginDate" type="xs:dateTime" />
      <xs:element name="_LastPasswordChangedDate" type="xs:dateTime" />
      <xs:element name="_PasswordQuestion" nillable="true" type="xs:string" />
      <xs:element name="_ProviderName" nillable="true" type="xs:string" />
      <xs:element name="_ProviderUserKey" nillable="true" type="xs:anyType" />
      <xs:element name="_UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MembershipUser" nillable="true" type="tns:MembershipUser" />
  <xs:simpleType name="MembershipCreateStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="InvalidUserName" />
      <xs:enumeration value="InvalidPassword" />
      <xs:enumeration value="InvalidQuestion" />
      <xs:enumeration value="InvalidAnswer" />
      <xs:enumeration value="InvalidEmail" />
      <xs:enumeration value="DuplicateUserName" />
      <xs:enumeration value="DuplicateEmail" />
      <xs:enumeration value="UserRejected" />
      <xs:enumeration value="InvalidProviderUserKey" />
      <xs:enumeration value="DuplicateProviderUserKey" />
      <xs:enumeration value="ProviderError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MembershipCreateStatus" nillable="true" type="tns:MembershipCreateStatus" />
  <xs:complexType name="ArrayOfMembershipUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MembershipUser" nillable="true" type="tns:MembershipUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMembershipUser" nillable="true" type="tns:ArrayOfMembershipUser" />
  <xs:simpleType name="MembershipPasswordFormat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Clear" />
      <xs:enumeration value="Hashed" />
      <xs:enumeration value="Encrypted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MembershipPasswordFormat" nillable="true" type="tns:MembershipPasswordFormat" />
</xs:schema>